## What is Sentimental Analysis ?

Sentiment analysis is contextual mining of text which identifies and extracts subjective information in source material, and helping a business to understand the social sentiment of their brand,product or service while monitoring online conversations.

Access to the Article: https://towardsdatascience.com/sentiment-analysis-concept-analysis-and-applications-6c94d6f58c17

In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (1.6.4)
Requirement already satisfied: six>=1.10 in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (from requests->kaggle) (3.4)

In [2]:
import pandas as pd
import numpy as np
import re 
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
!pip install PorterStemmer
from nltk.stem.porter import PorterStemmer

Requirement already satisfied: PorterStemmer in /home/kscr599/anaconda3-u/lib/python3.11/site-packages (0.5)

In [5]:
df = pd.read_csv('Twiter.csv')

In [6]:
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [7]:
df.tail()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1048566,4,1960186342,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Madelinedugganx,My GrandMa is making Dinenr with my Mum
1048567,4,1960186409,Fri May 29 07:33:43 PDT 2009,NO_QUERY,OffRoad_Dude,Mid-morning snack time... A bowl of cheese noo...
1048568,4,1960186429,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Falchion,@ShaDeLa same here say it like from the Termi...
1048569,4,1960186445,Fri May 29 07:33:44 PDT 2009,NO_QUERY,jonasobsessedx,@DestinyHope92 im great thaanks wbuu?
1048570,4,1960186607,Fri May 29 07:33:45 PDT 2009,NO_QUERY,sugababez,cant wait til her date this weekend

In [8]:
import nltk
nltk.download('stopwords') #Downloading Stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/kscr599/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [9]:
#Prinitng the stopwords in English
print(stopwords.words('english')) #This words don't add much value to the sentences 
#Now we will remove this words from the data set

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

## Data Processing

In [10]:
twitter_data = pd.read_csv('Twiter.csv')

In [11]:
#Checking the number of rows and columns 
twitter_data.shape

(1048571, 6)

In [12]:
twitter_data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [13]:
twitter_data.tail()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1048566,4,1960186342,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Madelinedugganx,My GrandMa is making Dinenr with my Mum
1048567,4,1960186409,Fri May 29 07:33:43 PDT 2009,NO_QUERY,OffRoad_Dude,Mid-morning snack time... A bowl of cheese noo...
1048568,4,1960186429,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Falchion,@ShaDeLa same here say it like from the Termi...
1048569,4,1960186445,Fri May 29 07:33:44 PDT 2009,NO_QUERY,jonasobsessedx,@DestinyHope92 im great thaanks wbuu?
1048570,4,1960186607,Fri May 29 07:33:45 PDT 2009,NO_QUERY,sugababez,cant wait til her date this weekend

In [14]:
#Naming the columns and reading data sets again
column_names = ['target','id','date','flag','user','text']
twitter_data = pd.read_csv('Twiter.csv',names = column_names)

In [15]:
#Checking the number of rows and columns 
twitter_data.shape

(1048572, 6)

In [16]:
twitter_data.head() #Changed the column names

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [17]:
#Checking Missing values 
twitter_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [18]:
#Checking overall
twitter_data.isnull().sum().sum()

0

In [19]:
#Checking the distribution of target column
twitter_data['target'].value_counts()  #0 means negative tweet #4 means positive tweet

0    799996
4    248576
Name: target, dtype: int64

## Convert the target "4" to "1"

In [20]:
twitter_data.replace({'target':{4:1}},inplace=True)

In [21]:
#We have changed the value of '4' into '1'
twitter_data['target'].value_counts() #Now 0 means negative tweet 1 means positive tweet

0    799996
1    248576
Name: target, dtype: int64

## Stemming

In [22]:
#Stemming is the process of reducing a word to its root word
#Example : Actor,Acting,Actress = act

In [23]:
 port_stem = PorterStemmer()

In [24]:
def stemming(content):

    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
        

    return stemmed_content

In [25]:
twitter_data['stemmed_content'] = twitter_data['text'].apply(stemming)

In [26]:
twitter_data.head()

,target,id,date,flag,user,text,stemmed_content
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",switchfoot http twitpic com zl awww bummer sho...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,upset updat facebook text might cri result sch...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,kenichan dive mani time ball manag save rest g...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole bodi feel itchi like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",nationwideclass behav mad see

In [27]:
twitter_data.tail()

,target,id,date,flag,user,text,stemmed_content
1048567,1,1960186342,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Madelinedugganx,My GrandMa is making Dinenr with my Mum,grandma make dinenr mum
1048568,1,1960186409,Fri May 29 07:33:43 PDT 2009,NO_QUERY,OffRoad_Dude,Mid-morning snack time... A bowl of cheese noo...,mid morn snack time bowl chees noodl yum
1048569,1,1960186429,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Falchion,@ShaDeLa same here say it like from the Termi...,shadela say like termini movi come like word
1048570,1,1960186445,Fri May 29 07:33:44 PDT 2009,NO_QUERY,jonasobsessedx,@DestinyHope92 im great thaanks wbuu?,destinyhop im great thaank wbuu
1048571,1,1960186607,Fri May 29 07:33:45 PDT 2009,NO_QUERY,sugababez,cant wait til her date this weekend,cant wait til date weekend

In [28]:
print(twitter_data['stemmed_content'])

0          switchfoot http twitpic com zl awww bummer sho...
1          upset updat facebook text might cri result sch...
2          kenichan dive mani time ball manag save rest g...
3                            whole bodi feel itchi like fire
4                              nationwideclass behav mad see
                                 ...
1048567                              grandma make dinenr mum
1048568             mid morn snack time bowl chees noodl yum
1048569         shadela say like termini movi come like word
1048570                      destinyhop im great thaank wbuu
1048571                           cant wait til date weekend
Name: stemmed_content, Length: 1048572, dtype: object

In [29]:
print(twitter_data['target'])

0          0
1          0
2          0
3          0
4          0
          ..
1048567    1
1048568    1
1048569    1
1048570    1
1048571    1
Name: target, Length: 1048572, dtype: int64

In [30]:
#Separating the data and label
x = twitter_data['stemmed_content'].values
y = twitter_data['target'].values

In [31]:
x

array(['switchfoot http twitpic com zl awww bummer shoulda got david carr third day',
       'upset updat facebook text might cri result school today also blah',
       'kenichan dive mani time ball manag save rest go bound', ...,
       'shadela say like termini movi come like word',
       'destinyhop im great thaank wbuu', 'cant wait til date weekend'],
      dtype=object)

In [32]:
y

array([0, 0, 0, ..., 1, 1, 1])

## Splitting the data for training and testing

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,stratify = y,random_state = 2)

In [34]:
print(x.shape,x_test.shape,x_train.shape)

(1048572,) (209715,) (838857,)

In [35]:
print(x_train)

['still headach' 'relax want start class tomorrow'
 'chatwitteddi awe nah mean got odd sens humor love' ...
 'wait till next time'
 'deadringa like differ place line hall amp front room also less like lightn like dog vomit'
 'mannnnn sooo piss dalworth carpet clean clean couch talkin chargin assum lol']

## Converting the textual data into numerical data

In [36]:
vectorizer = TfidfVectorizer()
x_train = vectorizer.fit_transform(x_train)
x_test = vectorizer.transform(x_test)

In [37]:
print(x_train)

  (0, 115248)	0.8126457787248453
  (0, 273474)	0.5827579586077651
  (1, 293498)	0.37656101828658783
  (1, 53550)	0.4939671465914206
  (1, 271678)	0.4145979224905549
  (1, 310550)	0.32777676531082306
  (1, 239453)	0.5786788508181265
  (2, 171854)	0.17109495302739697
  (2, 122624)	0.38908117879980075
  (2, 255099)	0.3226786566691036
  (2, 211725)	0.34018002863899016
  (2, 108153)	0.16854164810682704
  (2, 183540)	0.23317434284406713
  (2, 201074)	0.316625202722044
  (2, 20568)	0.33255138749719626
  (2, 48340)	0.5530640834164654
  (3, 163793)	0.6389763868899386
  (3, 277464)	0.7692263496507901
  (4, 273876)	0.5818515680859169
  (4, 279247)	0.6967571275939552
  (4, 173117)	0.4194976255749016
  (5, 198467)	0.45940629700277147
  (5, 291771)	0.2652347109916365
  (5, 240414)	0.33069322947889457
  (5, 264006)	0.23900015985810394
  :	:
  (838855, 67748)	0.44683252752609853
  (838855, 166496)	0.28608540154968987
  (838855, 308873)	0.29623524491781317
  (838855, 112766)	0.2852477407511472
  (838855, 167586)	0.2289639154129051
  (838855, 75274)	0.20442604775653242
  (838855, 9082)	0.19513246264993034
  (838855, 244954)	0.205300419747537
  (838855, 225754)	0.20538576529745045
  (838855, 71944)	0.23282684980403068
  (838855, 99479)	0.24305234193254524
  (838855, 165194)	0.22702577898002396
  (838855, 10819)	0.1490739447561501
  (838855, 166634)	0.38171321265670904
  (838856, 63665)	0.42352725091020194
  (838856, 47798)	0.38548375849206246
  (838856, 280586)	0.2707645721472223
  (838856, 44221)	0.27751612181808644
  (838856, 18619)	0.2776403251405183
  (838856, 58447)	0.24830936999061728
  (838856, 178191)	0.35360310665436545
  (838856, 267454)	0.19677794848085847
  (838856, 225307)	0.2184233645578049
  (838856, 170236)	0.1361154437872129
  (838856, 53751)	0.39110573588339914

In [38]:
print(x_test)

  (0, 299945)	0.24274221411343658
  (0, 289093)	0.3411098283302664
  (0, 288992)	0.1779344377747041
  (0, 284971)	0.19064494904543303
  (0, 276535)	0.435074199524685
  (0, 276486)	0.245010702920418
  (0, 203411)	0.18148881507618522
  (0, 169627)	0.28271216922348513
  (0, 131303)	0.3584835219544298
  (0, 104149)	0.14713046097609347
  (0, 98563)	0.26115748551491436
  (0, 40630)	0.2523062902077822
  (0, 34411)	0.3354258086669562
  (1, 310491)	0.1773759369800765
  (1, 296387)	0.4580126879959597
  (1, 235487)	0.4352495001492055
  (1, 156758)	0.14439375946586244
  (1, 91340)	0.26233600581050015
  (1, 56318)	0.3066135489711814
  (1, 35040)	0.23081664248298353
  (1, 29355)	0.19748766515056604
  (1, 24789)	0.5099140405776317
  (1, 9002)	0.18261542101663014
  (2, 292762)	0.2631406322227233
  (2, 213854)	0.371374630012043
  :	:
  (209713, 289675)	0.29217688530692604
  (209713, 288992)	0.2545576678070593
  (209713, 277585)	0.33242333368574023
  (209713, 254440)	0.26042935125225997
  (209713, 195604)	0.334546004358659
  (209713, 106760)	0.3954003825103433
  (209713, 104149)	0.21048869166560183
  (209713, 85962)	0.3673973424844255
  (209713, 57566)	0.34226076596736554
  (209713, 20548)	0.3268227679562847
  (209714, 313934)	0.28013696364654234
  (209714, 311926)	0.26723302564512635
  (209714, 310550)	0.15661839884343282
  (209714, 289430)	0.23185795722550154
  (209714, 276494)	0.45626896824725943
  (209714, 252120)	0.25875109490152
  (209714, 228721)	0.26615070494474075
  (209714, 216429)	0.27514957702487436
  (209714, 194933)	0.18316782661710224
  (209714, 189171)	0.2576638908188782
  (209714, 182179)	0.22183966966226715
  (209714, 170602)	0.20564896673932945
  (209714, 104149)	0.13751918422043002
  (209714, 32510)	0.2768444620090911
  (209714, 25151)	0.2512877163144899

## Training the Machine Learning Model

In [39]:
#logistic regression

In [40]:
model = LogisticRegression(max_iter=1000)

In [41]:
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

## Model Evaluation

In [42]:
#Accuracy score on the training data

In [43]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(y_train,x_train_prediction)

In [44]:
print("Accuracy score on the training data is:",training_data_accuracy)

Accuracy score on the training data is: 0.85743458062578

In [45]:
#Accuracy score on the test data

In [46]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(y_test,x_test_prediction)

In [47]:
print("Accuracy score on the test data is:",test_data_accuracy)

Accuracy score on the test data is: 0.8341987936008393

## Model Accuracy is 83.41

In [48]:
#saving the trained model

In [49]:
import pickle

In [50]:
filename = 'trained_model.sav'

In [51]:
pickle.dump(model, open(filename,'wb'))

## Using Saved Model For Future Predictions

In [55]:
#Loading the saved model
loaded_model = pickle.load(open('/home/kscr599/Desktop/ML/trained_model.sav','rb'))

In [58]:
X_new = x_test[200]
print(y_test[200])

prediction = loaded_model.predict(X_new)
print(prediction)

if(prediction[0]==0):
    print("Negative Tweet")
else:
    print("Positive Tweet")

0
[0]
Negative Tweet

In [59]:
X_new = x_test[3]
print(y_test[3])

prediction = loaded_model.predict(X_new)
print(prediction)

if(prediction[0]==0):
    print("Negative Tweet")
else:
    print("Positive Tweet")

0
[0]
Negative Tweet